@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  text-align: center;
  overflow: hidden;
}
.container {
  width: 85%;
  margin: auto;
  background-color: rgba(165, 42, 42, 0.2);
  border-radius: 5%;
  text-align: left;
  padding-left: 2%;
}
img {
}
h2 {
  text-align: center;
  color: black;
  padding: 2%;
}
.call {
  position: absolute;
  top: -10%;
  left: 40%;
  font-family: "Baskervville SC", serif;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2;
  color: red;
  animation: call 5s 6s linear forwards;
}

@keyframes call {
  0% {
    top: -10%;
  }
  100% {
    top: 20%;
  }
}

.details {
  position: absolute;
  width: 35%;
  top: 35%;
  left: 100%;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2;
  color: black;
  animation: detailInfos 5s 11s linear forwards;
}

@keyframes detailInfos {
  0% {
    left: 100%;
  }
  100% {
    left: 50%;
  }
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  animation: changeColor 5s 13s linear forwards;
}
@keyframes changeColor {
  from {
    color: black;
  }
  to {
    color: orangered;
  }
}
#continue {
  color: orangered;
  opacity: 0;
  animation: showUp 3s 22s ease-in-out forwards;
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#continue:hover {
  color: darkblue;
}
